/*
Глобальные
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
    color: #000;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

a {
    display: inline-block;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
    clip-path: inset(100%);
}

.list-default {
    list-style: none;
}

/*
Шрифты, типографика и цвета
*/

@font-face {
	font-family: 'PlayfairDisplay';
	src: url('fonts/PlayfairDisplay-Regular.eot');
	src: url('fonts/PlayfairDisplay-Regular.woff') format('woff'), url('fonts/PlayfairDisplay-Regular.ttf') format('truetype'), url('fonts/PlayfairDisplay-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PlayfairDisplay';
	src: url('fonts/PlayfairDisplay-Bold.eot');
	src: url('fonts/PlayfairDisplay-Bold.woff') format('woff'), url('fonts/PlayfairDisplay-Bold.ttf') format('truetype'), url('fonts/PlayfairDisplay-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Regular.eot');
	src: url('fonts/Roboto-Regular.woff') format('woff'), url('fonts/Roboto-Regular.ttf') format('truetype'), url('fonts/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Bold.eot');
	src: url('fonts/Roboto-Bold.woff') format('woff'), url('fonts/Roboto-Bold.ttf') format('truetype'), url('fonts/Roboto-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Light.eot');
	src: url('fonts/Roboto-Light.woff') format('woff'), url('fonts/Roboto-Light.ttf') format('truetype'), url('fonts/Roboto-Light.svg') format('svg');
	font-weight: 100;
	font-style: normal;
}

.font__pd_1 {
    font-family: "PlayfairDisplay";
    font-weight: bold;
    font-size: 35px;
    line-height: 47px;
    letter-spacing: 1.5px;
}

.font__pd_2 {
    font-family: "PlayfairDisplay";
    font-weight: bold;
    font-size: 23px;
    line-height: 31px;
}

.font__pd_2-accent {
    color: #FF7931;
}

.font__pd_3 {
    font-family: "PlayfairDisplay";
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    letter-spacing: 1px;
    color: #fff;
}

.font__rob_1 {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2px;
}

.font__rob_1-ligth {
    color: #fff;
}

.font__rob_2 {
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 2px;
    color: #fff;
}

.font__rob_3 {
    color: #fff;
    font-weight: 100;
    line-height: 1.72;
}

.font__rob_4 {
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 2px;
}

/*
Шапка
*/

.head {
    padding: 0 135px;
}

.main-title {
    margin-top: 60px;
    margin-bottom: 45px;
    text-align: center;
}

.main-nav {
    margin-bottom: 48px;
}

.main-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-menu-item {
    text-transform: uppercase;
}

.main-menu-link:hover {
    text-decoration: underline;
}

/*
Основная часть
*/

.offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 465px;
    padding: 0 135px;
    margin-bottom: 43px;
    background-image: url("img/offer.jpg");
}

.logo {
    margin-top: 46px;
    margin-bottom: 27px;
}

.offer__title {
    margin-bottom: 130px;
    text-transform: uppercase;
}

.offer__decription {
    padding: 0 360px;
    text-align: center;
}

.popular {
    padding: 0 135px;
    margin-bottom: 54px;
}

.popular__title {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.news__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.news__item {
    width: 370px;
}

.news__img {
    margin-bottom: 15px;
}

.news__title {
    margin-bottom: 8px;
}

.news__description {
    margin: 0;
    padding: 0;
}

.promo {
    position: relative;
    min-height: 556px;
    margin-bottom: 50px;
    background-color: #f7f7f7;
    z-index: 10;
    overflow: hidden;
}

.promo::before {
    position: absolute;
    content: "";
    width: 707px;
    height: 707px;
    left: 50%;
    transform: translateX(-350px);
    top: -75px;
    z-index: 1;
    background-color: #fff;
    border-radius: 720px;
}

.promo__wrap {
    position: absolute;
    width: 707px;
    height: 707px;
    left: 50%;
    transform: translateX(-355px);
    z-index: 10;

    margin: 0 auto;
    margin-top: -75px;
    padding-bottom: 50px;
    
    background-color: transparent;
    border-radius: 720px;
    text-align: center;
}

.promo__title {
    position: absolute;
    left: 50%;
    transform: translateX(-115px);
    top: 32px;
    z-index: 10;
    
    min-width: 250px;
    text-transform: uppercase;
}

.promo__list {
    padding-top: 163px;
}

.promo__item {
    margin: 0 auto;
    max-width: 370px;
}

.promo__item-title {
    margin-bottom: 9px;
}

.promo__item-description {
    margin-bottom: 45px;
}

.promo__item:last-child .promo__item-description {
    margin-bottom: 47px;
}

.btn {
    position: relative;
    appearance: none;
    display: inline-block;
    margin: 0;
    padding-top: 15px;
    padding-right: 63px;
    padding-bottom: 15px;
    padding-left: 30px;
    min-width: 100px;
  
    font-family: inherit;
    font-size: 12px;
    line-height: inherit;
    letter-spacing: 2px;
  
    color: #f7f7f7;
    background-color: #FF7931;
    text-decoration: none;
    text-transform: uppercase;
  
    border: none;
    box-shadow: none;
    cursor: pointer;
    transition: 0.35s ease-out;
}

.btn__accent-img {
    position: absolute;
    top: 15px;
    right: 32px;
    transition: 0.35s ease-out;
}

.btn:hover {
    box-shadow: 0 0 15px 15px rgba(255, 121, 49, 0.12);
}

.btn:hover .btn__accent-img {
    right: 20px;
}

/*
Подвал
*/

.footer {
    padding: 0 135px;
    padding-top: 25px;
    padding-bottom: 40px;
    background-color: #575757;
}

.footer__title {
    margin-bottom: 33px;
    text-align: center;
    letter-spacing: 1.5px;
}

.footer .main-nav {
    padding-bottom: 47px;
    margin-bottom: 40px;
    font-weight: 100;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.social__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 170px;
}

.social__link {
    min-width: 47px;
    min-height: 47px;
    background-color: #fff;
}

.social__link:hover {
    box-shadow: 0 0 8px 8px rgba(255, 255, 255, 0.15);
}

.social__item-img {
    display: block;
    margin: auto;
    margin-top: 13px;
    width: 23px;
    height: 23px;
}
